@model IEnumerable<ProductViewModel>
@*@model ProductListViewModel*@
@using NLayerApp.WEB.HtmlHelpers
@using NLayerApp.WEB.Models


@{

    ViewBag.Title = "Index";
}

@*<h2>Store</h2>*@
<link href="~/wwwroot/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<div class="row mt-5 mb-2">
    @foreach (var p in Model)
    {
    <div class="col-lg-4">
        <img class=" img-thumbnail" src="@p.img" accesskey="@p.Name" />
        <h3>

            @Html.DisplayFor(modelP => p.Name)
        </h3>
        @*<td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>*@

        <h4>
            @p.Price.ToString("# $")
        </h4>
        <p><a class="btn-warning" href="#">Details</a></p>
        <button type="button" class="btn btn-default"> @Html.ActionLink("Order", "MakeOrder", new { id = p.Id })</button>

    </div>
    }
</div>
<ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
</ul>

@*<div class="btn-group">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>*@

